@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 15, 15, 15;
  --background-rgb: 255, 255, 255;
}

.dark {
  --foreground-rgb: 255, 255, 255;
  --background-rgb: 15, 15, 15;
}

body {
  background-color: rgb(var(--background-rgb));
}

@layer components {
  .header-icons {
    @apply bg-transparent hover:bg-neutral-200 dark:hover:bg-neutral-700 text-[40px] p-2 rounded-full cursor-pointer;
  }
  .tabs-sm {
    @apply flex bg-absolute_white w-full rounded-xl lg:ml-4 drop-shadow-sm dark:bg-neutral-800 mt-[20px] lg:mt-0;
  }
  .tabs-lg {
    @apply bg-absolute_white rounded-xl w-[30%] lg:ml-4 drop-shadow-sm dark:bg-neutral-800 mt-[20px] lg:mt-0;
  }
  .gradient {
    @apply bg-gradient-to-r from-[#00FFF0] to-secondary;
  }
  .horizontal-line {
    @apply border-b border-neutral-300 dark:border-neutral-800 w-full;
  }
}
