<!DOCTYPE html>
<!-- saved from url=(0023)https://spartahack.com/ -->
<html lang="en">

    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>SpartaHack 8</title>

        <link rel="stylesheet" type="text/css" href="css/style.css" />
        <link rel="stylesheet" type="text/css" href="css/output.css">

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link
            href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
            rel="stylesheet">
        <script src="functions.js"></script>
    </head>

    <body class="bg-sh-black w-screen h-auto" data-new-gr-c-s-check-loaded="14.1085.0" data-gr-ext-installed="">
        <!-- BACKGROUND CONTENT -->
        <div id="backgroundElementsContainer" class="max-w-full overflow-x-hidden" style="">

            <div id="backgroundBlobs" class="absolute top-0 overflow-x-hidden w-screen">
                <img src="Vector-yell-gree.svg"
                    class=" w-[375px] h-[353px] ml-[150px] -mt-[219px] -z-10 opacity-[.40] blur-[100px]">

                <img src="Vector-red-lime.svg"
                    class=" w-[553px] h-[600px] -ml-[300px] -mt-[350px] -z-10 opacity-[.25] rotate-180 blur-[100px]">

                <img src="Vector-blue-pink-1.svg"
                    class=" w-[1240px] h-[555px] sm:ml-[25vw] mt-0 sm:-mt-[10vh] -z-10 opacity-[.65] sm:blur-[120px] blur-[70px] sm:scale-100 scale-[2] transition-all duration-1000">

                <img src="Vector-yell-pink.svg"
                    class=" w-[1200px] h-[700px] md:w-[800px] md:h-[450px] -left-[30vw] sm:left-[5vw] mt-[15vh] lg:mt-[10vh] -z-10 opacity-[.50] scale-[1.5] sm:scale-100 saturate-[1.25] blur-[110px] rotate-15 opacity-[.4]">

                <img src="Vector-red-lime.svg"
                    class=" w-[1240px]j h-[555px] ml-[20vw] sm:ml-[50vw] mt-[50vh] lg:mt-[10vh] -z-10 opacity-[.65] sm:blur-[120px] blur-[70px] scale-[1.5] sm:scale-100 transition-all duration-1000 opacity-[0.6]">
            </div>
            <div id="backgroundTexture" class="absolute w-screen top-0 left-0 mix-blend-overlay -z-9"
                style="background-image: url(Texture.png); background-size: 134px;"></div>

            <div id="backgroundCells" class="absolute flex top-24 w-screen -z-5">
                <div class="bg-repeat  bg-center mx-2 sm:mx-8 w-full h-full -z-5 opacity-20 overflow-hidden"
                    style="background-image: url(bg-pattern-cell-svg.svg); background-size: 16px">
                </div>
            </div>
        </div>

        <!-- NAVBAR -->
        <nav class="flex flex-row justify-between items-center py-6 px-8 absolute h-24 top-0 left-0">
            <div class="flex flex-row items-center p-0 space-x-4 flex-none grow-0">
                <!-- NAVBAR LOGO -->
                <div class="flex-none grow-0 cursor-pointer duration-1000">
                    <svg width="44" height="50" viewBox="0 0 44 50" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M39.0007 32.3732C39.0007 31.3538 39.047 30.3461 38.3919 29.5734C38.0284 29.1786 34.2631 27.2055 33.1065 26.5554C32.3824 26.1482 31.3601 26.5408 31.2139 27.539C31.1442 28.0133 31.1442 27.9629 31.0862 28.492C31.0428 28.8882 31.1229 29.453 31.7001 29.8302C32.6783 30.4694 32.8098 30.5599 34.6472 31.753C35.7209 32.4549 36.4333 33.521 36.7513 34.3354C36.9055 34.69 37.1853 35.6101 37.1515 36.5303C37.1148 40.4195 37.175 39.1973 37.1537 44.5649C37.0869 46.5957 37.2308 46.7847 36.6889 47.5603C36.4068 47.9638 35.8142 48.2762 35.2362 48.2703C35.1584 48.2696 34.6913 48.3046 34.139 47.9865C33.0257 47.3451 21.8974 40.9588 21.127 40.4626C20.8098 40.2583 20.3618 40.1466 19.9197 40.1218L15.495 40.108C13.6531 39.9124 12.3613 38.1225 12.3613 36.6237C12.3613 34.8622 12.5376 33.7027 12.5376 26.7327C12.5376 22.2677 15.343 19.2351 17.5109 17.4291C20.3324 15.2925 23.9625 14.6526 26.8201 15.0882C27.0925 15.1276 28.4254 15.3305 30.0573 16.0062C32.5498 17.038 34.3564 17.8348 34.3564 17.8348C35.1128 18.1135 36.1711 17.9107 36.6661 17.2131C38.6254 14.4512 39.2769 13.38 41.8362 9.73372C42.669 8.49981 42.0161 7.47532 40.9674 6.65806C39.6279 5.61387 38.7628 5.10235 37.4893 4.42957C36.4135 3.86114 35.2913 3.37882 34.131 3.00959C26.8546 0.691353 18.1674 1.4028 12.0587 6.11006C5.1782 11.3566 6.27759 14.8678 2.46388 20.1049C1.61786 21.2665 1.96596 22.9003 3.20782 23.63L5.6842 25.0843"
                            stroke="url(#paint0_linear_130_115)" stroke-width="2.5" stroke-linecap="round"
                            stroke-linejoin="round"></path>
                        <defs>
                            <lineargradient id="paint0_linear_130_115" x1="37.3241" y1="49.5232" x2="2.31652"
                                y2="-4.31528" gradientUnits="userSpaceOnUse">
                                <stop stop-color="#1E4FFF"></stop>
                                <stop offset="1" stop-color="#F70063"></stop>
                            </lineargradient>
                        </defs>
                    </svg>
                </div>
                <!-- NAVBAR TITLE -->
                <span class="rubik-font text-sh-white font-medium text-2xl flex-none grow-0 cursor-pointer">
                    SpartaHack 8
                </span>
            </div>
        </nav>

        <!-- MAIN -->
        <main class="flex flex-col justify-center items-center">
            <!-- FIRST SECTION - HERO LANDING -->
            <section
                class="absolute flex flex-col justify-center items-center p-0 sm:space-y-12 space-y-8 top-12 md:top-0 h-screen sm:container mx-auto sm:mx-0 px-0 sm:px-12">
                <!-- TEXT CONTENT -->
                <div class="flex flex-col justify-center item-center p-0 space-y-4 md:w-[1020px]l w-full h-min">
                    <!-- TITLE TEXT -->
                    <div>
                        <span
                            class="flex justify-center items-center text-center block font-medium text-[49px] md:text-[56px] lg:text-[76px] -mb-1.5 lg:-mb-2 rubik-font gradient-text mt-5">
                            SpartaHack 8
                        </span>
                        <span
                            class="text-center block font-medium lg:text-[56px] text-[39px] leading-tight rubik-font text-sh-white sm:w-full w-full">
                            registrations will<span class="whitespace-nowrap"> open soon</span>.
                        </span>
                    </div>
                    <!-- BODY TEXT -->
                    <div>
                        <div
                            class="min-[490px]:mx-auto mx-8 sm:w-[500px] lg:w-[700px] min-[490px]:w-full w-auto text-center">
                            <span class="inter-font font-light lg:text-[20px] sm:text-[16px] text-[13px]
                                sm:leading-8 leading-6 text-sh-white/70">
                                Take part in the 24-hour annual hackathon held at Michigan State University
                                tailored for those who see opportunity in a challenge and seek to
                                widen their horizons.
                            </span>
                        </div>
                    </div>
                </div>
                <!-- FORM CONTENT -->
                <div
                    class="flex flex-col justify-center items-center p-[10px] gap-0 sm:gap-2.5 w-full sm:w-[593px] h-min order-2 grow-0 z-[2] pb-12">
                    <!-- FORM -->
                    <form onsubmit="return add_email(event)" id="emailForm"
                        class="flex flex-row items-center p-2 pl-4 gap-2.5 w-full sm:w-[573px] h-fit box-border bg-sh-black/50 rounded-2xl hover:bg-sh-black/70 focus-within:bg-sh-black/70 duration-100 ease-out backdrop-blur-[1px]">
                        <!-- EMAIL INPUT -->
                        <input id="email" type="email" name="email" required placeholder="alan.turing@mail.com"
                            minlength="6"
                            class="grow bg-transparent outline-0 w-max p-2.5 rubik-font text-[16px] sm:text-[21px] font-light text-sh-white placeholder:text-sh-white/30">
                        <!-- SUBMIT BUTTON -->
                        <button id="submit"
                            class="flex flex-row justify-center items-center py-1 sm:py-3 px-3 sm:px-6 min-[455px]:w-fit w-[136px] h-[48px] sm:h-[57px] box-border rounded-lg uppercase rubik-font bg-sh-pink ease-out hover:bg-[#F81973] active:bg-[#FA5295] outline-0 outline-[#FDB3D0] focus:outline-4 duration-100">
                            <div class="text-[16px] sm:text-[21px] p-1 font-normal text-sh-white whitespace-normal">
                                Get Notified
                            </div>
                        </button>
                    </form>
                    <!-- ADDITIONAL INFO -->
                    <div>

                        <span id="form_add_info"
                            class="sm:text-base text-xs text-center text-sh-white/50 rubik-font font-light">Get
                            notified when registrations open</span>
                        <div id="email_loading" class="flex flex-row" style="display: none;">
                            <span
                                class="sm:text-base text-xs text-center text-sh-white rubik-font font-light">Loading</span>
                            <svg class="inline sm:h-8 h-6 sm:-my-1 -my-2 ml-2" version="1.1" id="L4"
                                xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
                                y="0px" viewBox="0 0 100 100" enable-background="new 0 0 0 0" xml:space="preserve">
                                <circle fill="#fff" stroke="none" cx="6" cy="50" r="6">
                                    <animate attributeName="opacity" dur="1s" values="0;1;0" repeatCount="indefinite"
                                        begin="0.1" />
                                </circle>
                                <circle fill="#fff" stroke="none" cx="26" cy="50" r="6">
                                    <animate attributeName="opacity" dur="1s" values="0;1;0" repeatCount="indefinite"
                                        begin="0.2" />
                                </circle>
                                <circle fill="#fff" stroke="none" cx="46" cy="50" r="6">
                                    <animate attributeName="opacity" dur="1s" values="0;1;0" repeatCount="indefinite"
                                        begin="0.3" />
                                </circle>
                            </svg>
                        </div>
                        <div id="email_sent" class="flex flex-row" style="display: none;">
                            <span class="sm:text-base text-xs text-center text-emerald-300 rubik-font font-light">Your
                                email has been recorded</span>
                            <svg class="inline sm:h-5 h-3 sm:-my-1 -my-2 ml-2" width="16" height="16"
                                viewBox="0 0 64 64" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <circle cx="32" cy="32" r="29.5" stroke="rgb(110 231 183)" stroke-width="5" />
                                <path d="M46.5 22L25.408 43.0919L16 33.6839" stroke="rgb(110 231 183)" stroke-width="5"
                                    stroke-linecap="round" stroke-linejoin="round" />
                            </svg>
                        </div>
                        <div id="email_error" class="flex flex-row" style="display: none;">
                            <span class="sm:text-base text-xs text-center text-red-400 rubik-font font-light">A
                                error
                                occurred. Please try again.</span>
                            <svg class="inline sm:h-5 h-3 sm:-my-1 -my-2 ml-2" width="16" height="16"
                                viewBox="0 0 64 64" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <circle cx="32" cy="32" r="29.5" stroke="rgb(248 113 113)" stroke-width="5" />
                                <circle cx="32" cy="48" r="3" fill="#D9D9D9" />
                                <path d="M32 14V38" stroke="rgb(248 113 113)" stroke-width="5" stroke-linecap="round" />
                            </svg>

                        </div>
                        <div id="email_exists" class="flex flex-row" style="display: none;">
                            <span class="sm:text-base text-xs text-center text-amber-200 rubik-font font-light">Email
                                already recorded</span>
                            <svg class="inline sm:h-5 h-3 sm:-my-1 -my-2 ml-2" width="16" height="16"
                                viewBox="0 0 64 64" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <circle cx="32" cy="32" r="29.5" stroke="rgb(253 230 138)" stroke-width="5" />
                                <circle cx="32" cy="48" r="3" fill="#D9D9D9" />
                                <path d="M32 14V38" stroke="rgb(253 230 138)" stroke-width="5" stroke-linecap="round" />
                            </svg>
                        </div>
                    </div>
                </div>
            </section>
            <!-- GOES AFTER ADDITIONAL INFO TEXT IN SECTION 1 -->
            <div
                class="absolute flex flex-col flex-none order-4 grow-0 z-4 bottom-10 justify-center items-center p-0 gap-4 opacity-50">
                <span class="hidden uppercase rubik-font text-sh-white font-light text-[13px] text-center">scroll
                    down
                    to
                    know more</span>
                <div>
                    <svg width="42" height="12" viewBox="0 0 42 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1 1L21 11L41 1" stroke="#F5F5F5" stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                </div>
            </div>


            <!-- SECOND SECTION - INFO -->
            <section id="lastSection"
                class="absolute flex flex-col justify-center items-center p-0 min-[860px]:gap-32 gap-16 h-auto w-full top-[100vh] pb-24 mt-32">

                <!-- INFO CARDS -->
                <div
                    class="flex min-[860px]:flex-row max-[860px]:flex-col justify-center items-center flex-none order-0 w-full grow p-0 my-12 min-[860px]:divide-x mmax-[829px]:divide-y divide-sh-white/30 min-[860px]:text-left text-center">
                    <!-- CARD 1 -->
                    <div
                        class="flex flex-col justify-center min-[860px]:items-start items-center flex-none order-0 min-[860px]:grow-0 grow min-[860px]:py-8 py-12 px-0 min-[860px]:px-10 lg:px-16 gap-6 min-[860px]:w-auto w-[300px] transition-none min-[860px]:transition-all duration-500">
                        <div class="h-8">
                            <svg width="38" height="34" viewBox="0 0 38 34" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path d="M31.3265 19.0435H36.9054" stroke="#F5F5F5" stroke-width="2"
                                    stroke-linecap="round" stroke-linejoin="round" />
                                <path d="M27.7288 10.3603L31.6738 6.41705" stroke="#F5F5F5" stroke-width="2"
                                    stroke-linecap="round" stroke-linejoin="round" />
                                <path d="M19.0429 6.76346V1.1864" stroke="#F5F5F5" stroke-width="2"
                                    stroke-linecap="round" stroke-linejoin="round" />
                                <path d="M10.3571 10.3603L6.41199 6.41705" stroke="#F5F5F5" stroke-width="2"
                                    stroke-linecap="round" stroke-linejoin="round" />
                                <path d="M6.75929 19.0435H1.18042" stroke="#F5F5F5" stroke-width="2"
                                    stroke-linecap="round" stroke-linejoin="round" />
                                <path
                                    d="M10.3571 27.7266L6.41559 31.6699C3.1841 28.4384 1.18585 23.9746 1.18585 19.0435C1.18585 9.18121 9.18067 1.1864 19.0429 1.1864C28.9052 1.1864 36.9 9.18121 36.9 19.0435C36.9 23.9737 34.9017 28.4375 31.6712 31.669L27.7288 27.7266"
                                    stroke="#F5F5F5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                                <path
                                    d="M19.0429 32.738L21.4174 30.3699L19.0429 17.1472L16.6685 30.3699L19.0429 32.738Z"
                                    stroke="#F5F5F5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                            </svg>
                        </div>
                        <div>
                            <span
                                class="block uppercase text-[20px] xl:text-[25px] font-medium rubik-font text-sh-pink">
                                all skill levels
                            </span>
                            <span
                                class="block capitalize text-[16px] xl:text-[20px] font-normal inter-font text-sh-white/70">
                                beginner - advanced
                            </span>
                        </div>
                    </div>
                    <!-- CARD 2 -->
                    <div
                        class="flex flex-col justify-center min-[860px]:items-start items-center flex-none order-1 min-[860px]:grow-0 grow min-[860px]:py-8 py-12 px-0 min-[860px]:px-10 lg:px-16 gap-6 min-[860px]:w-auto w-[300px] transition-none min-[860px]:transition-all duration-500">

                        <div class="h-8">
                            <svg width="29" height="34" viewBox="0 0 29 34" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M27.6818 14.0915C27.6818 24.2733 14.5909 33.0006 14.5909 33.0006C14.5909 33.0006 1.5 24.2733 1.5 14.0915C1.5 10.6195 2.87922 7.28981 5.33424 4.83479C7.78926 2.37977 11.119 1.00055 14.5909 1.00055C18.0628 1.00055 21.3926 2.37977 23.8476 4.83479C26.3026 7.28981 27.6818 10.6195 27.6818 14.0915Z"
                                    stroke="#F5F5F5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                                <path
                                    d="M14.5909 18.4551C17.0009 18.4551 18.9545 16.5015 18.9545 14.0915C18.9545 11.6815 17.0009 9.72784 14.5909 9.72784C12.1809 9.72784 10.2273 11.6815 10.2273 14.0915C10.2273 16.5015 12.1809 18.4551 14.5909 18.4551Z"
                                    stroke="#F5F5F5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                            </svg>
                        </div>
                        <div>
                            <span
                                class="block uppercase text-[20px] xl:text-[25px] font-medium rubik-font text-sh-pink">
                                MICHIGAN STATE UNIVERSITY
                            </span>
                            <span
                                class="block capitalize text-[16px] xl:text-[20px] font-normal inter-font text-sh-white/70">
                                east lansing, michigan
                            </span>
                        </div>
                    </div>
                    <!-- CARD 3 -->
                    <div
                        class="flex flex-col justify-center min-[860px]:items-start items-center flex-none order-2 min-[860px]:grow-0 grow min-[860px]:py-8 py-12 px-0 min-[860px]:px-10 lg:px-16 gap-6 min-[860px]:w-auto w-[300px] transition-none min-[860px]:transition-all duration-500">

                        <div class="h-8">
                            <svg width="31" height="34" viewBox="0 0 31 34" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M26.6 4.20056H4.2C2.43269 4.20056 1 5.63325 1 7.40056V29.8006C1 31.5679 2.43269 33.0006 4.2 33.0006H26.6C28.3673 33.0006 29.8 31.5679 29.8 29.8006V7.40056C29.8 5.63325 28.3673 4.20056 26.6 4.20056Z"
                                    stroke="#F5F5F5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                                <path d="M21.8 1.00055V7.40055" stroke="#F5F5F5" stroke-width="2" stroke-linecap="round"
                                    stroke-linejoin="round" />
                                <path d="M9 1.00055V7.40055" stroke="#F5F5F5" stroke-width="2" stroke-linecap="round"
                                    stroke-linejoin="round" />
                                <path d="M1 13.8005H29.8" stroke="#F5F5F5" stroke-width="2" stroke-linecap="round"
                                    stroke-linejoin="round" />
                            </svg>
                        </div>
                        <div>
                            <span
                                class="block uppercase text-[20px] xl:text-[25px] font-medium rubik-font text-sh-pink">
                                jan 28 - 29, 2023
                            </span>
                            <span
                                class="block capitalize text-[16px] xl:text-[20px] font-normal inter-font text-sh-white/70">
                                2 days / 1 night
                            </span>
                        </div>
                    </div>
                </div>

                <!-- ABOUT SPARTAHACK -->
                <div
                    class="flex lg:flex-row flex-col justify-center items-center flex-none order-1 grow-0 p-0 gap-[40px] sm:gap-[80px] container">
                    <!-- SPARTAHACK LOGO -->
                    <div class="flex flex-row items-center p-0 gap-4 flex-none order-0 grow-0 scale-75 sm:scale-100 transition-all duration-1000"
                        style="filter: drop-shadow(0px 0px 11px #6B33C9);">
                        <svg width="294" height="336" viewBox="0 0 294 336" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M264.621 219.325C264.621 212.229 264.943 205.214 260.382 199.835C257.851 197.086 231.635 183.351 223.582 178.825C218.54 175.99 211.422 178.723 210.405 185.672C209.919 188.974 209.919 188.624 209.515 192.306C209.213 195.065 209.771 198.996 213.79 201.623C220.601 206.072 221.516 206.702 234.309 215.008C241.785 219.894 246.745 227.316 248.959 232.985C250.033 235.454 251.981 241.859 251.745 248.265C251.49 275.339 251.909 266.831 251.761 304.197C251.296 318.334 252.298 319.65 248.524 325.049C246.561 327.858 242.434 330.032 238.41 329.992C237.868 329.987 234.616 330.231 230.771 328.016C223.019 323.551 145.538 279.093 140.174 275.639C137.965 274.217 134.846 273.44 131.768 273.267L100.96 273.17C88.1362 271.809 79.142 259.348 79.142 248.915C79.142 236.652 80.3692 228.581 80.3692 180.059C80.3692 148.977 99.9019 127.865 114.996 115.293C134.641 100.42 159.916 95.9648 179.812 98.9974C181.709 99.2717 190.99 100.684 202.351 105.388C219.706 112.57 232.284 118.117 232.284 118.117C237.551 120.058 244.919 118.646 248.366 113.79C262.008 94.5629 266.543 87.1058 284.363 61.7226C290.162 53.1328 285.616 46.0009 278.314 40.3116C268.987 33.0426 262.964 29.4817 254.098 24.7982C246.607 20.8411 238.794 17.4834 230.715 14.9131C180.052 -1.22511 119.567 3.7276 77.0353 36.4968C29.1291 73.0198 36.7837 97.4634 10.2305 133.92C4.33998 142.007 6.76367 153.381 15.4102 158.46L32.6522 168.584"
                                stroke="url(#paint0_linear_50_52)" stroke-width="12" stroke-linecap="round"
                                stroke-linejoin="round" />
                            <defs>
                                <linearGradient id="paint0_linear_50_52" x1="252.947" y1="338.714" x2="9.26116"
                                    y2="-36.1152" gradientUnits="userSpaceOnUse">
                                    <stop stop-color="#1E4FFF" />
                                    <stop offset="1" stop-color="#F70063" />
                                </linearGradient>
                            </defs>
                        </svg>

                    </div>
                    <!-- ABOUT TEXT -->
                    <div
                        class="flex flex-col items-start p-0 lg:gap-8 gap-4 flex-none order-1 grow-0 md:w-[600px] w-auto mx-8 md:mx-0 lg:text-left text-center">
                        <span
                            class="flex-none order-0 grow-0 font-medium rubik-font text-sh-white sm:text-[56px] text-[39px] leading-tight text-sh-white sm:w-full w-full">What’s
                            <span class="whitespace-nowrap" style="background: linear-gradient(91.75deg, #F70063 0%, #1E4FFF 100%);
                                    -webkit-background-clip: text;
                                    -webkit-text-fill-color: transparent;
                                    background-clip: text;
                                    text-fill-color: transparent;">SpartaHack 8</span>?</span>
                        <span class="inter-font font-light lg:text-[20px] text-[16px]
                                        leading-8 text-sh-white/70">SpartaHack 8 is Michigan State University’s
                            official
                            student-run invention marathon or hackathon. Taking
                            place the weekend of January 28<span class="text-xs align-text-top">th</span>, 2023, the
                            event
                            will draw 500+ of the brightest student developers
                            and designers to East Lansing, MI, for 24 hours of
                            learning, building, and networking.</span>
                    </div>
                </div>
            </section>
        </main>
        <script>
            const lastSection = document.getElementById('lastSection')
            const lastSectionHeight = lastSection.clientHeight
            const lastSectionTop = lastSection.offsetTop
            const pageHeight = lastSectionTop + lastSectionHeight
            const navBarHeight = document.querySelector('nav').offsetHeight
            const bgElementscontainer = document.getElementById('backgroundElementsContainer')
            const bgCells = document.getElementById('backgroundCells')
            const bgTexture = document.getElementById('backgroundTexture')
            const bgBlobs = document.getElementById('backgroundBlobs')
            const heightSetter = () => {
                bgElementscontainer.style.height = `${pageHeight}px`
                bgCells.style.height = `${pageHeight}px`
                bgTexture.style.height = `${pageHeight + navBarHeight}px`
                bgBlobs.style.height = `${pageHeight + navBarHeight}px`

                console.log(`${pageHeight + navBarHeight}px`)
            }
            heightSetter()
            window.onresize = heightSetter;
        </script>
    </body>

</html>