.rubik-font {
    font-family: 'Rubik';
}

.inter-font {
    font-family: 'Inter';
}

.gradient-text {
    background: linear-gradient(91.53deg, #F70063 30%, #1E4FFF 70%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}